 /* Start of every project */

 /* Good Points 
 1. Always try to enter css style relative to your html tags 
 2. Use _(underscore) instead of hypen/use camelCase (It will help to copy paste easily)
 */

* {
	margin: 0;	
	box-sizing: border-box;
	font-family: Verdana, Geneva, sans-serif;
}


nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

}
nav a h4{
	margin-left: 8px;
	color: black;
}
nav a{
	margin: 8px 10px 
}

.img-logo{
	 width:20px;
	 height: 20px;
	 border: 2px solid white;
	 margin-left: 4px;
	
}

li {
	margin-top: 10px;
}

.topLink{
	color: black;
}

.linkTitle {
	display: inline;
	margin-left: 4px;
}


.topLink:hover{
		text-decoration: underline;
}
/* .votearrow {
    width: 10px;
    height: 10px;
    border: 0px;
    margin: 3px 2px 6px;
    background: url("https://news.ycombinator.com/grayarrow.gif") no-repeat;
} */

.titleDiv {
	display: inline;
}

a:hover {
  text-decoration: underline;
}
a:link {
  text-decoration: none;
}
.titleDiv a:visited{
    color:#828282;

}

.login{
	display: inline;
	position: absolute;
	right: 10px;

}
.login:hover{
	text-decoration: underline;
}

.hover-link:hover{
	text-decoration: underline;
}

.list{
	padding-top: 10px;
	padding-bottom: 10px;
}

section {
	width: 80vw;
	margin: auto;
	position: relative;
}

ol {
	color: #828282;
	font-size: 10pt;
	background-color: #f6f6ef;
	padding-inline-start: 30px;
}

.test{
	margin-left: auto;
}
.indexing {
color:#828282;
}

.title {
	color: black;
	display: inline;
	font-size: 10pt;
}
.title:hover{
	cursor: pointer;
}

.title:before{
	content: url("https://news.ycombinator.com/grayarrow.gif");
	margin-right: 6px;

}
.link {
	color:#828282; 
	margin-left: 2px;
	margin-right: 2px;
	cursor: pointer;
}

.link:hover{
	text-decoration: underline;
}

.link-doc {
	color:#828282; 
	cursor: pointer;
	font-size: 9px;
}

.link-doc:before{
	content: "("
}
.link-doc:after{
	content: ")"
}

.detail{
	color: #828282;
	font-size: 11px;
	display: block;
	margin-left: 16px;	
}

.moreP{
	margin-top: 4px;
	margin-left: 30px;
	margin-bottom: 4px;

}
.moreP:hover{
	cursor: pointer;	
}

.hLine{
	height:2px; 
	background-color:red;
}


footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
footer a{
	margin: 0px 10px;
	font-size: 11px;
}
.footerSearch{
	margin-top: 10px;
}

#footerSearch{
	color: orchid;
}